body{
				background-color: #18bc9c;
				background-size: cover;
				height: 100%;
				width: 100%;
			}
			
			.wrapdiv{
				width: 99%;
				margin-top: 10px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				padding: 10px;
				border: 1px solid #dbe1e8;
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				background-color: #18bc9c;
				color: white;
			}
			
			hr{
				margin: 15px auto 15px;
				padding: 0;
				max-width: 250px;
				border: 0;
				border-top: solid 5px;
				text-align: center;
				color: white;
			}
			
			.divQuest{
				border: 1px solid black; 
				border-radius: 5px; 
				padding: 10px;
				font-family: 'Open Sans', sans-serif;
			}
			
			.go-top {
				position: fixed;
				bottom: 5em;
				right: 2em;
				text-decoration: none;
				color: white;
				font-size: 12px;
				padding: 1em;
				display: none;
				background-color: #2c3e50;
				/* border: 63px; */
				border-radius: 20%;
			}
			
			.pQuest{
				text-indent: 50px; 
				text-align: justify;
				font-size: 15px;
				font-family: 'Open Sans', sans-serif;
			}
			
			.pQuest_noIndent{
				text-indent: 0px; 
				font-size: 15px;
				font-family: 'Open Sans', sans-serif;
			}
			
			.noBorder{
				width: 90%;
				margin-top: 10px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				padding: 10px;
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				background-color: #18bc9c;
				color: white;
			}
			
			.instructHeader{
				text-align: center;
				color: #2c3e50;
				font-weight: bold;
				font-family: 'Quicksand', san-serif;
			}
			
			.instructContent{
				color: white;
				text-align: justify;
				font-family: 'Open Sans', sans-serif;
			}
			
			.quest{
				color: white;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
			}
			
			.navbar-inverse{
				background-color: #2c3e50;
				
			}
			
			#btnHome{
				color: white;
				margin-left: 10px;
				margin-top: -5px;
			}
			
			#btnHelp{
				color: white;
				margin-right: 10px;
				margin-top: -5px;
			}
			
			#mainHeader{
				padding: 10px;
				background-color: white;
				margin-top: -20px;
				margin-bottom: 20px;
			}
			
			#divScore{
				width: 50px;
				height: 50px;
				background-color: #18bc9c;
				padding: 10px;
				border-radius: 100%;
				border: 2px solid #2c3e50;
				color: white;
				margin-top: -50px;
				margin-bottom: 20px;
			}
			
			.btn-primary{
				font-family: 'Open Sans', sans-serif;
			}
			
			html, body{
				width: 100%;
				height: 100%;
				font-family: 'Open Sans', sans-serif;
			}
			h1{
				font-size: 24px;
			}
			
			p{
				font-size: 14px;
			}
			
			h2{
				font-size: 22px;
			}
			
			h3{
				font-size: 20px;
			}
			
			h4{
				font-size: 18px;
			}
			
			h5{
				font-size: 16px;
			}
			
			h6{
				font-size: 14;
			}
			
			.btn-primary, .btn-danger, .btn-success, .btn-info, .btn-warning {
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-top: 15px;
				font-size: 12px;
			}
			
			.btn-info{
				border: 2px solid white;
				width: 90%;
				color: black;
			}
			
			p {
				text-indent: 50px;
				text-align: center;
				font-size: 12px;
			}
			
			li{
				font-size: 12px;
			}
			
			.content{
				margin-left: auto;
				margin-right: auto:
				display: auto;
			}
			
			.alammoba{
				border: 2px solid black;
				padding: 5px;
				text-indent: 0px;
			}
			
			#footer{
				background: #2c3e50;
				height: auto;
				color: white;
				width: 100%;
				position: fixed;
				bottom: 0;
				left: 0;
				}

			#footerglyph{
				font-size: 1.5em;
				text-align:center;
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-top: 15px;
				margin-bottom: 15px;
				text-indent: 0px;
			}
			
			.btnCircle{
				text-align: center;
				border: 1px solid white;
				width: 125px;
				height: 125px;
				border-radius: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
				font-weight: bold;
				color: white;
				padding: 10px;
			}
			
			.btn-info:hover{
				border-color: white;
			}
			
			.glyph{
				font-size: 3em;
				margin-top: 15px;
			}
			
			.divbg{
				background: rgba(0, 0, 0, 0.5);
				border: none;
				margin-left: margin;
				width: 100%;
				border-radius: 5px;
			}
			
			.btnCircle:hover{
				background-color: rgb(87, 187, 137);
				opacity: 0.5;
			}
			
			
			.pages{
					font-family: serif;
                    font-size: 130%;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
				}
			
                #menu{
                    font-family: serif;
                    font-size: 130%;   
                }
                
				.buttons{
					background-color: orange;
					width: 70%;
					height: 5%;
					text-align: center;
					padding: 10px;
					color: white;
					box-shadow: 5px 5px 5px #888888;
					border: 2px solid;
				}
				
				.btnAlign{
					vertical-align: middle;
				}
				
				.rightAns{
					-webkit-animation: myAnimation 5s;
				}
				
				.btn{
					border-radius: 0px;
					font-size: 14px;
					font-weight: bold;
				}

				.headerres{
					border:1px solid; 
					display:inline-block;
					background-color: orange;
					padding: 5px;
					color: white;
					box-shadow: 5px 5px 5px #888888;	
					text-align: left;
					width: 50%;
					height: 5%;
				}
				
				.item{
					display:inline-block;
					padding: 5px;
					box-shadow: 5px 5px 5px #888888;	
					text-align: right;
					width: 20%;
					height: 5%;
				}
				
				.aboutcontent{
					background-color: orange;
					width: 90%;
					height: 5%;
					text-align: center;
					padding: 10px;
					color: white;
					box-shadow: 5px 5px 5px #888888;
					border: 2px solid;
				}
				
				#banner{
					height: 50px;
					color: white;
					background-color: #2c3e50;
					text-align: center;
					width: 110%;
					margin-left: -15px;
					z-index: 1000;
					margin-top: 0px;
				}